* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page {
    padding: 5px;
    height: 100vh;
    overflow: scroll;
    overflow-x: hidden;
    font-family: "Concert One", cursive;
}

div {
    overflow: hidden;
}

img {
    height: 80%;
    transition: transform 25ms;
}

select {
    margin: 0;
    border: none;
    outline: none;
    appearance: none;
    background-color: transparent;
    font-family: "Concert One", cursive;
    font-size: 1em;
    align-self: flex-start;
}

img:hover {
    transform: scale(0.98);
}

.top-page,
.bottom-page {
    background-color: rgb(243, 232, 200);
    margin: 10px;
    height: 70%;
}

.top-page {
    display: flex;
    flex-direction: column;
}

.top-page-upper,
.top-page-lower {
    margin: 5px;
    padding: 5px;
}

.top-page-upper {
    justify-self: flex-start;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 60%;
    background-color: rgb(243, 232, 150);
}

.top-page-lower {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: flex-end;
    background-color: rgb(243, 232, 150);
    height: 40%;
}

.name-stack {
    background-color: lightyellow;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    width: 30%;
    align-self: stretch;
    border-radius: 1rem;
    box-shadow: 0.25rem 0.25rem #121212;
    padding: 5px;
}

.project-name {
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4.5rem;
    border-radius: 0.5rem 0.5rem 0 0;
}

.project-intro {
    padding: 20px;
    height: 40%;
    overflow: scroll;
    border-radius: 0 0 0.5rem 0.5rem;
    font-size: 1.125rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-intro::-webkit-scrollbar {
    display: none;
}

.project-name,
.project-intro {
    text-align: center;
    margin: 5px;
    background-color: rgb(255, 204, 237);
}

.top-page-song {
    flex: 1 1 auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(243, 232, 100);
}

.merge-music {
    flex: 0.25 0.25 auto;
    margin: 10px;
    height: 30%;
    width: 5%;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar {
    height: 20%;
    width: 10rem;
    display: flex;
    align-items: center;
}

.avatar img {
    width: 100%;
}

.right-box {
    visibility: hidden;
}

.left-box {
    padding: 10px;
}

.left-box,
.right-box {
    width: 10%;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.bottom-page {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 5px;
}

.bottom-page-first {
    background-color: rgb(243, 232, 150);
    height: 40%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.bottom-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 70%;
}

.bottom-page-second {
    background-color: rgb(243, 232, 150);
    height: 60%;
    display: flex;
}

.try-it {
    position: absolute;
    align-self: center;
    height: 7.5%;
    padding: 10px;
    top: 38%;
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blue-button {
    background-color: rgb(1, 212, 341);
    box-shadow: 0.25rem 0.25rem #121212;
    transition: transform 50ms, box-shadow 75ms;
    overflow: hidden;
    border-radius: 5px;
    font-family: 'Chela One', cursive;
    font-size: 1.2em;
}

.blue-button:hover {
    box-shadow: 0.1875rem 0.1875rem #121212;
    transform: translate(0.0625rem, 0.0625rem);
}

.blue-button:active {
    box-shadow: 0.125rem 0.125rem #121212;
    transform: translate(0.125rem, 0.125rem);
}

.second-left,
.second-right {
    background-color: rgb(243, 232, 100);
    width: 50%;
}

.second-left {
    border-right: 2px solid #121212;
    border-top: 2px solid #121212;
    display: flex;
    align-items: center;
    justify-content: center;
}

.second-right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.upload-container {
    background-color: lightyellow;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    height: 70%;
    border-radius: 1rem;
    box-shadow: 0.25rem 0.25rem #121212;
}

.upload-top {
    background-color: rgb(255, 204, 237);
    );
    display: flex;
    flex-direction: row;
    padding: 5px;
    margin: 5px;
    height: 25%;
    align-items: center;
    border-radius: 0.5rem 0.5rem 0 0;
}

.logo {
    width: 20%;
    background-color: rgb(179, 254, 176);
}

.music-aspect {
    background-image: linear-gradient(to right, rgb(179, 254, 176), transparent);
    width: 80%;
}

.logo,
.music-aspect {
    margin: 5px;
    padding: 10px;
    height: 90%;
    display: flex;
    align-items: center;
}

.upload {
    background-color: rgb(255, 204, 237);
    margin: 5px;
    padding: 10px;
    height: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 0 0.5rem 0.5rem;
}

.second-right {
    border-top: 2px solid #121212;
}

.song-card {
    background-color: lightyellow;
    display: flex;
    flex-direction: row;
    padding: 10px;
    align-items: center;
    height: 60%;
    width: 25%;
    box-shadow: 0.25rem 0.25rem #121212;
    border-radius: 1rem;
}

#middle-song-card {
    width: 40%;
}

.song-card-right,
.song-card-left {
    background-color: rgb(255, 204, 237);
    padding: 5px;
    margin: 5px;
}

.song-card-right {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 70%;
    border-radius: 0 0.5rem 0.5rem 0;
}

.song-card-left {
    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem 0 0 0.5rem;
}

.new-song-card-left,
.new-song-card-right {
    background-color: rgb(255, 204, 237);
}

.song-status,
.song-name,
.under-song {
    background-image: linear-gradient(to right, rgb(179, 254, 176), transparent);
    margin: 0.75%;
    padding: 10px;
    height: 30%;
    flex: 1 1 auto;
    text-align: left;
    display: flex;
    align-items: center;
}

.song-status {
    width: 35%;
    overflow: visible;
}

.song-name {
    width: 95%;
}

.under-song {
    width: 55%;
}

.top-song-card {
    width: 60%;
    height: 60%;
}

@keyframes arrow-left {
    0% {top: 7.5%;}
    25% {top: 15%;}
    50% {top: 22.5%;}
    75% {top: 30%;}
    100% {top: 37.5%;}
}

@keyframes arrow-right {
    0% {top: 37.5%;}
    25% {top: 30%;}
    50% {top: 22.5%;}
    75% {top: 15%;}
    100% {top: 7.5%;}
}

.left-arrow,
.right-arrow {
    height: 50%;
    padding: 10px;
}

.left-arrow img {
    top: 0;
    animation-name: arrow-left;
    animation-duration: 0.85s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-timing-function: linear;
    position: relative;
}

.right-arrow img {
    top: 50%;
    animation-name: arrow-right;
    animation-duration: 0.85s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-timing-function: linear;
    position: relative;
}

.left-arrow img,
.right-arrow img {
    height: 50%;
}


